.client_cell_container{
    -fx-background-color: #fd929e;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #fca7b2, 5,0,0,7);
}


.client_cell_container HBox{
    -fx-spacing:10;
    -fx-alignment: Center_left;
    -fx-padding-left:10;
}

.client_cell_container HBox Label{
    -fx-text-fill: #444444;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1em;
}

.acc_display_lbl{
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size:1.5em;
}

.delete_btn{
    -fx-background-color: #FF0000;
    -fx-text-fill: #FFFFFF;
}

.delete_btn FontAwesomeIconView{
    -fx-fill: #FFFFFF;
}

.delete_btn:hover{
    -fx-cursor: hand;
}

