.client_cell_container{
    -fx-background-color: #ffe976;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #efffa3, 5,0,0,7);
}


.client_cell_container HBox{
    -fx-spacing:10;
    -fx-alignment: Center_left;
}

.client_cell_container HBox Label{
    -fx-text-fill: #444444;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1em;
}

.acc_display_lbl{
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size:1.5em;
}

.problem_btn{
    -fx-background-color: linear-gradient(to right, #f5d442,#ffd000);

    -fx-text-fill: #FFFFFF;
}

.problem_btn FontAwesomeIconView{
    -fx-fill: #FFFFFF;
}

.problem_btn:hover{
    -fx-cursor: hand;
}

