.client_cell_container{
    -fx-background-color: #e8fcff;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #e8fcff, 5,0,0,7);
}


.client_cell_container HBox{
    -fx-spacing:10;
    -fx-alignment: Center_left;
}

.client_cell_container HBox Label{
    -fx-text-fill: #444444;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.2em;
}

.acc_display_lbl{
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size:1.5em;
}

.delete_btn{
    -fx-background-color: #FF0000;
    -fx-text-fill: #FFFFFF;
}

.delete_btn FontAwesomeIconView{
    -fx-fill: #FFFFFF;
}

.delete_btn:hover{
    -fx-cursor: hand;
}

.report_btn{
    -fx-background-color: linear-gradient(to right, #008022,#00f742);

    -fx-text-fill: #FFFFFF;
}

.report_btn FontAwesomeIconView{
    -fx-fill: #FFFFFF;
}

.report_btn:hover{
    -fx-cursor: hand;
}

.problem_btn{
    -fx-background-color: linear-gradient(to right, #f5d442,#ffd000);

    -fx-text-fill: #FFFFFF;
}

.problem_btn FontAwesomeIconView{
    -fx-fill: #FFFFFF;
}

.problem_btn:hover{
    -fx-cursor: hand;
}

.tresc_btn{
    -fx-background-color: linear-gradient(to right, #54baff,#a3daff);

    -fx-text-fill: #FFFFFF;
}

.tresc_btn FontAwesomeIconView{
    -fx-fill: #FFFFFF;
}

.tresc_btn:hover{
    -fx-cursor: hand;
}