.client_cell_container{
    -fx-background-color: #f4ffcf;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #f4ffcf, 5,0,0,7);
}


.client_cell_container HBox{
    -fx-spacing : 15;
    -fx-alignment: Center_left;
    -fx-padding-left: 10;
}

.client_cell_container HBox Label{
    -fx-text-fill: #444444;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.3em;
}

.acc_display_lbl{
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size:1.5em;
}

.problem_btn{
    -fx-background-color: linear-gradient(to right, #f5d442,#ffd000);
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.3em;
}

.problem_btn FontAwesomeIconView{
    -fx-fill: #FFFFFF;
}

.problem_btn:hover{
    -fx-cursor: hand;
}

